/* CSS */

.card {
    width: 80px;
    height: 80px;
    display: flex;
    align-Items: center;
    justify-Content: center;
    font-Size: 24px;
    border-Radius: 8px;
    box-Shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
}
.card:hover {
    opacity: 0.9;
}
.card img {
    display: block;
    margin: auto;
}

.game {
    min-Height: 100vh;
    display: flex;
    flex-Direction: column;
    align-Items: center;
    justify-Content: center;
    padding: 20px;
    color: #012626FF;
}

.history {
    max-Width: 500px;
    margin: 0 auto;
    text-Align: left;
}
.history p {
    text-align: center;
}
.history ul {
    padding: 0;
    list-Style-Type: none;
}
.history ul li {
    background-Color: #012626FF;
    color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-Radius: 5px;
}
.history .btn-clearHistory {
    background-Color: #e53935;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 20px auto;
    border-Radius: 5px;
    cursor: pointer;
    font-Size: 16px;
    display: block;
}

.settings input, select {
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 8px;
    transition: all 0.3s ease;
    outline: none;
    border: none;
}
.settings input[type="color"] {
    width: 50%;
    height: 30px;
    padding: 0px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.settings select {
    background-color: #FFF;
    color: #000;
}
.settings select option {
    background-color: #f0f0f0;
    color: #333;
}

.button-32 {
   background-color: #fff000;
   border-radius: 12px;
   color: #000;
   cursor: pointer;
   font-weight: bold;
   padding: 10px 15px;
   text-align: center;
   transition: 200ms;
   width: 100%;
   box-sizing: border-box;
   border: 0;
   font-size: 16px;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
}
.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}
.button-32:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-Content: center;
    gap: 10px;
}
.footer button {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.footer button:hover,
.footer button:active{
    border-bottom: 2px solid #000;
}